node_modules/
dist/
.env
.env.local
.env.*.local
.cache/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
/.idea
.DS_Store
coverage/
.turbo/
*.tgz
/.parcel-cache
/.pnp
pnp.js
/.next
/.nuxt
/.output
build/
/.history
